{% extends "base.html" %}
{% block title %}Car List{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        {% for car in car_list %}
        <div class="col-sm-4">
          <div class="card">
            <h2 class="card-title text-center mt-3 mb-0">{{ car.number }}</h2>
            <a href="/single_car/{{ car.id }}">
              <img
                src="{{ car.image }}"
                class="card-img-top"
                alt="Car Image"
                style="width: 100%; height: 150px; object-fit: cover"
              />
            </a>
            <div class="card-body">
              <p class="card-text">{{ car.problems }}</p>
            </div>
            <a class="btn btn-danger" href="/delete/{{ car.id }}">Delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}